@charset "utf-8";
/* CSS Document */

body{
background-image:url(images/mdcbackground.png);
background-color:#FF6666;
}
img{
width:150px;
height:150px;
border-width:medium;
border-style:solid;
display:inline;
margin:10px;
}

.marvelb{
border-color:#FF0000;
}

.dcb{
border-color:#0000FF;
}

#marvelheros{
display:block;
text-align:center;
border-style:none;

}

#marvelvillans{
display:block;
text-align:center;
border-style:none;
}

#dcheros{
display:block;
text-align:center;
border-style:none;
}

#dcvillans{
display:block;
text-align:center;
border-style:none;
}

